<!-- Summary overview of Budget and Expense of User's Input -->
<section>
  <div class="container text-center">
    <h2>Current Balance</h2>
    {{#each categoryData}}
    <div id="budget-balance">{{this.category_name}} : {{this.budget}}</div>
    {{/each}}
</section>

{{!-- Place for User to input a custom Category field --}}
<section>
  <h3>Category</h3>
  <br>
      <form id="category-form">
        <div class="container text-center">
          <div class="row">

              <div class="col">
              <label for="catName" class="form-sections">Category Name:</label>
              <input type="text" class="form-control" id="catName" required>
            </div>
              
            <div class="col">
              <label for="catBudget" class="form-sections">Budget Amounts:</label>
                <input type="text" class="form-control" id="catBudget" required>
            </div>
          </div>
        </div>
        <br>
        <button id="createCategory" type="submit" class="btn btn-outline-secondary addexpenseBtn">Add Category</button>
      </form>
    </div>
</section>

<!-- Place for User to input their Expenses throughout the month (add a record) -->
<section>
  <h3>Expense</h3>
  <br>
      <form id="form">
        <div class="container text-center">
          <div class="row">

            <div class="col">
              <label for="type" class="form-sections">Category:</label>
              <select id="type" class="form-control" autocomplete="off" required>
                {{#each categoryData}}
                <option value="{{this.category_name}}">{{this.category_name}}</option>
                {{/each}}
              </select>
            </div>

              <div class="col">
              <label for="merchant" class="form-sections">Merchant:</label>
                <input type="text" class="form-control" id="merchant" required/>
            </div>
        
            <div class="col">              
              <div class="date-picker">
                <label for="date" class="form-sections">Date: </label>
                <input type="date" min="1" class="form-control" id="date" autocomplete="off" required>
              </div>
            </div>
              
            <div class="col">
              <label for="amount" class="form-sections">Amount:</label>
                <input type="text" class="form-control" id="amount" required/>
            </div>
          </div>
        </div>
        <br>
        <button id="createRecord" type="button" class="btn btn-outline-secondary addexpenseBtn">Add Expense</button>
      </form>
    </div>
</section>
<br>
<br>
{{!-- Show all users records --}}
<section>
  <ul id='records'>
  {{#each recordData}}
  <div class="card-body recordcard">
   <li>{{this.date}} &nbsp;&nbsp;&nbsp;&nbsp;  Category: {{this.type}}  &nbsp;&nbsp;&nbsp;&nbsp;  Merchant: {{this.merchant}}  &nbsp;&nbsp;&nbsp;&nbsp;  Amount: ${{this.amount}}  <button data-id="{{this.id}}" class="deleteRecord">Delete</button> </li>  
  </div>  
  {{/each}}
  </ul>
</section>

<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.28.0/moment.min.js"></script>
<script src="/js/add-record.js"></script>
<script src="/js/delete-record.js"></script>
<script src="/js/add-category.js"></script>